.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.container-first-page{
    margin: 0px auto;
    padding: 200px 0px 200px 0px;
}

.row-content-first-page-paragraph {
    margin: 0px auto;
    padding: 200px 0px 200px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: #5CDB95;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    margin: 0px auto;
    padding: 70px 30px 70px 30px;
    background-color: #8EE4AF;
    color: floralwhite;
}

address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    background-color: #5CDB95; 
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}